.prueba {
	.testing {
	  width: percentage(5/7);
	}

	.testing2 {
		color: red;	
	}	
	.testing3 {
		margin: 15*10px;
	}

	.testing4 {
		background: green;
	}

	.testing5 {
		padding: 15*24+2px;
	}
	.workshop{
	  padding: 30*2px;
	}
}