.prueba .testing {
  width: 71.42857%; }

.prueba .testing2 {
  color: red; }

.prueba .testing3 {
  margin: 150px; }

.prueba .testing4 {
  background: green; }

.prueba .testing5 {
  padding: 362px; }

.prueba .workshop {
  padding: 60px; }
